.not-found {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not-found h1 {
  font-size: 80px;
  color: #1f2933;
  margin: 0;
}

.not-found h2 {
  font-size: 26px;
  margin: 10px 0;
}

.not-found p {
  color: #555;
  max-width: 400px;
}

.home-btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: #f9b233;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}
