.navbar {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2933;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.menu li a:hover {
  text-decoration: underline;
}
