.navbar {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2933;
  padding: 15px 30px;
  color: white;
}

/* LOGO SECTION */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo img {
  height: 40px;
  width: auto;
}

/* MENU */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.menu li a:hover {
  text-decoration: underline;
}
