.home-container {
  text-align: center;
  
}

.banner {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

/* banner image */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlay layer */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* adjust darkness */
  z-index: 1;
}

/* content on top */
.banner-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 0 20px;
}

.banner-content h1 {
  font-size: 35px;
}

/* Desktop */
@media (min-width: 769px) {
  .banner-content h1 {
    white-space: nowrap;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 24px;
    white-space: normal;
  }
}

.banner-content p {
  font-size: 18px;
}

.quick-links {
  margin: 20px 0;
}

.quick-links button {
  margin: 10px;
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.services-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #f9fafb;
}

.services-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #1f2933;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
}

.service-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;   /* Vertical stack */
  align-items: center;
  gap: 10px;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  width: 200px;      /* image badi */
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}


.service-card h3 {
  font-size: 16px;   /* heading chhoti */
  margin: 5px 0;
}


.service-card p {
  font-size: 12px;   /* paragraph chhota */
  line-height: 1.4;
}


.enquire-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
}

.enquire-btn:hover {
  background-color: #1d4ed8;
}
.seo-details {
  margin: 50px 0;
}

.seo-details summary {
  font-weight: 600;
  cursor: pointer;
}

.seo-details p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}



mat-card {
  width: 200px;
  text-align: center;
  padding: 10px;
}
