<footer class="footer">
  <div class="footer-container">

    <!-- LINKS -->
    <div class="footer-col">
      <h4>Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>

    <!-- SERVICES -->
    <div class="footer-col">
      <h4>Services</h4>
      <ul>
        <li>Iron Gate</li>
        <li>Boundary Wall</li>
        <li>Staircase Railing</li>
        <li>Roofing Shed</li>
        <li>Rolling Shutter</li>
        <li>Iron Grill</li>
        <li>Custom Fabrication</li>
      </ul>
    </div>

    <!-- CONTACT -->
    <div class="footer-col">
      <h4>Contact Us</h4>
      <p>
        📍Shree Hans Fabrication<br>
         Mayuresh Apt., No. 1,<br>
         Near Mahila Bank<br>
         Indira Nagar, Nashik,<br>
        Maharashtra, India
      </p>
      <p>
        📞 <a href="tel:+917020173248">+91 70201 73248</a>
      </p>
      <p>
        ✉️ <a href="mailto:shreehansf@gmail.com">
        shreehansf@gmail.com</a>
      </p>
    </div>

  </div>

  <!-- COPYRIGHT + SOCIAL -->
<div class="footer-bottom">
  <span>© 2025 Shree Hans Fabrication. All Rights Reserved.</span>

  <div class="social-icons">
    <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>

    <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank" aria-label="YouTube">
      <i class="fab fa-youtube"></i>
    </a>

    <a href="https://www.linkedin.com/" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin-in"></i>
    </a>

    <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
      <i class="fab fa-x-twitter"></i>
    </a>

    <a href="https://wa.me/917020173248" target="_blank" aria-label="WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
</div>

</footer>
